.contacts__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts__list {
    width: clamp(300px, 90%, 1000px);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.contact__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: solid 2px black;
    border-radius: 25px;
    box-shadow: var(--shadow);
    transition: var(--transition);
}

.contact:hover .contact__link {
    border: solid 2px var(--color-accent);
    box-shadow: var(--shadow2);
    scale: 1.05;
}

.contact__logo {
    height: 90px;
    width: 90px;
}
