#contacts .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contacts .container .list {
    width: clamp(300px, 90%, 1000px);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

#contacts .container .list .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

#contacts .container .list .contact > a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: solid 2px black;
    border-radius: 25px;
    box-shadow: var(--shadow);
    transition: var(--transition);
}

#contacts .container .list .contact:hover > a {
    border: solid 2px var(--color-accent);
    box-shadow: var(--shadow2);
    scale: 1.05;
}

#contacts .container .list .contact img {
    height: 90px;
    width: 90px;
}
