/* Global */

:root {
    --color-primary: black;
    --color-secondary: white;
    --color-accent: #f66e3d;

    --family-font: 'DM Sans', sans-serif;

    --h1: bold clamp(36px, 4vw, 54px) / clamp(48px, 5vw, 64px)
        var(--family-font);
    --h2: bold 36px/36px var(--family-font);
    --h3: bold 24px/30px var(--family-font);
    --links: bold 54px/64px var(--family-font);
    --p: 18px/30px var(--family-font);
    --subtext: 15px/25px var(--family-font);

    --transition: 0.3s ease-in-out;
    --shadow: #00000030 0px 0px 10px 0px;
    --shadow2: #00000030 0px 5px 10px 5px;
    --shadow3: rgba(28, 28, 51, 0.15) 0px 0px 10px;
    --shadow-accent: var(--color-accent) 0px 0px 10px 0px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

h1 {
    font: var(--h1);
}

h2 {
    font: var(--h2);
    margin-bottom: 100px;
}

h3 {
    font: var(--h3);
}

@media screen and (max-width: 800px) {
    h2 {
        margin-bottom: 50px;
    }
}

p {
    font: var(--p);
}

section {
    margin: 50px auto;
    padding: 150px 30px;
    max-width: 1080px;
    min-height: 100vh;
}

a {
    font: var(--family-font);
    color: black;
    text-decoration: none;
}

.link {
    font: var(--links);
}

.subtext {
    font: var(--subtext);
}

.accent {
    color: var(--color-accent);
}

.btn {
    padding: 5px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font: var(--p);
    border: solid 2px var(--color-accent);
    color: var(--color-accent);
}

.btn:hover {
    /* scale: 1.05; */
    background-color: var(--color-accent);
    color: white;
}

.transition {
    transition: var(--transition);
}

.fade-in {
    animation: fadeIn ease-out 1s;
}

.animated-scale:hover {
    scale: 1.1;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.border {
    border: solid 2px black;
}

.border-accent {
    border: solid 2px var(--color-accent);
}

.shadow {
    box-shadow: var(--shadow);
}
