.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    position: fixed;
    border-bottom: solid 1px black;
    transition: var(--transition);
    background-color: var(--color-secondary);
    z-index: 1000;
}

.header__nav-bar {
    padding: 20px 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: clamp(0px, 80%, 1920px);
}

.header__nav-bar__logo {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 5px;
}

.header__nav-bar__menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.header__nav-bar__menu__item__link {
    display: block;
    padding: 10px 20px;
    transition: var(--transition);
}

.header__nav-bar__menu__item__link:hover {
    background-color: beige;
}

.header__nav-bar__menu__item__link--active {
    color: var(--color-accent);
}

.header__nav-bar__burger {
    width: 40px;
    height: 40px;
    display: none;
}

.header__nav-bar__burger:hover {
    cursor: pointer;
}

@media screen and (max-width: 1100px) {
    .header__nav-bar {
        display: flex;
        align-items: center;
    }

    .header__nav-bar__menu {
        display: none;
        margin-top: 60px;
        flex-direction: column;
        align-items: start;
        width: 100%;
    }

    .header__nav-bar__menu__item {
        width: 100%;
        height: 100%;
    }

    .header__nav-bar__menu__item__link {
        width: 100%;
        height: 100%;
    }

    .header__nav-bar__burger {
        display: block;
    }
}
