#hero {
    /* height: calc(100vh - 80px); */
    height: 100vh;
    max-width: 100%;
    margin: 0px 50px;
    padding: 0px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

#hero > img {
    height: clamp(300px, 30vw, 400px);
    width: clamp(300px, 30vw, 400px);
    object-fit: cover;
    /* -webkit-mask-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(0, 0, 0, 1)),
        to(rgba(0, 0, 0, 0))
    ); */
    mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0)
    );
}

#hero .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#hero .content > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#hero .content > div a {
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .content > div img {
    height: 50px;
    width: 50px;
}

@media screen and (max-width: 800px) {
    #hero {
        flex-direction: column;
    }

    #hero .content {
        flex-direction: row;
    }

    #hero .content > div {
        flex-direction: column;
    }

    #hero .content .btn {
        display: none;
    }
}
