.hero {
    height: 100vh;
    max-width: 100%;
    margin: 0px 50px;
    padding: 0px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.hero__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero__content__links {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero__content__links__link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__content__links__link__icon {
    height: 50px;
    width: 50px;
}

.hero__picture {
    height: clamp(300px, 30vw, 400px);
    width: clamp(300px, 30vw, 400px);
    object-fit: cover;
    mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0)
    );
}

@media screen and (max-width: 800px) {
    .hero {
        flex-direction: column;
    }

    .hero__content {
        flex-direction: row;
    }

    .hero__content__links {
        flex-direction: column;
    }

    .hero__content__links__button {
        display: none;
    }
}
