.skills-table {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.skills-table__menu {
    padding: 25px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.skills__category {
    padding: 25px 100px;
    margin-right: -40px;
    text-wrap: nowrap;
    font: var(--p);
    text-align: center;
    border: solid 2px black;
    border-radius: 25px;
    box-shadow: var(--shadow);
    background-color: white;
    transition: var(--transition);
    z-index: 99;
    white-space: nowrap;
}

.skills__category:hover {
    border: solid 2px var(--color-accent);
    translate: 25px;
    color: var(--color-accent);
}

.skills__category--active {
    border: solid 2px var(--color-accent);
    translate: 25px;
    color: var(--color-accent);
}

.skills-table__content {
    padding: 50px 80px 50px calc(40px + 25px + 80px);
    width: 100%;
    border-radius: 25px;
    box-shadow: var(--shadow);
    background-color: white;
    border: solid 2px black;
    overflow: hidden;
}

.skills-table__content__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 80px);
    justify-content: space-around;
    gap: 50px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.skill__logo {
    height: 80px;
    width: 80px;
    transition: var(--transition);
}

.skill__logo:hover {
    scale: 1.1;
}

.skill__title {
    text-align: center;
    font: var(--p);
    line-height: 20px;
}

@media screen and (max-width: 800px) {
    .skills-table {
        flex-direction: column;
        align-items: center;
    }

    .skills-table__menu {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .skills__category {
        padding: 15px 25px;
        margin-right: 0px;
    }

    .skills__category:hover {
        border: solid 2px var(--color-accent);
        translate: 0px;
        color: var(--color-accent);
    }

    .skills__category--active {
        border: solid 2px var(--color-accent);
        translate: 0px;
        color: var(--color-accent);
    }

    .skills-table__content {
        width: calc(100% - 60px);
        padding: 30px;
    }

    .skills-table__content__list {
        gap: 10px;
    }

    .skill {
        gap: 10px;
    }

    .skill__logo {
        height: 80px;
        width: 80px;
    }
}