#skills .table {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#skills .table .menu {
    padding: 25px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#skills .table .menu .category {
    padding: 25px 100px;
    margin-right: -40px;
    text-wrap: nowrap;
    font: var(--p);
    text-align: center;
    border: solid 2px black;
    border-radius: 25px;
    box-shadow: var(--shadow);
    background-color: white;
    transition: var(--transition);
    z-index: 99;
    white-space: nowrap;
}

#skills .table .menu .active {
    border: solid 2px var(--color-accent);
    translate: 25px;
    color: var(--color-accent);
}

#skills .table .menu .category:hover {
    border: solid 2px var(--color-accent);
    translate: 25px;
    color: var(--color-accent);
}

#skills .table .content {
    padding: 50px 80px 50px calc(40px + 25px + 80px);
    width: 100%;
    border-radius: 25px;
    box-shadow: var(--shadow);
    background-color: white;
    border: solid 2px black;
    overflow: hidden;
}

#skills .table .content .list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 80px);
    justify-content: space-around;
    gap: 50px;
}

#skills .table .content .list .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#skills .table .content .list .skill img {
    height: 80px;
    width: 80px;
    transition: var(--transition);
}

#skills .table .content .list .skill img:hover {
    scale: 1.1;
}

#skills .table .content .list .skill span {
    text-align: center;
    font: var(--p);
    line-height: 20px;
}

@media screen and (max-width: 800px) {
    #skills .table {
        flex-direction: column;
        align-items: center;
    }

    #skills .table .menu {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    #skills .table .menu .active {
        border: solid 2px var(--color-accent);
        translate: 0px;
        color: var(--color-accent);
    }

    #skills .table .menu .category {
        padding: 15px 25px;
        margin-right: 0px;
    }

    #skills .table .menu .category:hover {
        border: solid 2px var(--color-accent);
        translate: 0px;
        color: var(--color-accent);
    }

    #skills .table .content {
        width: calc(100% - 60px);
        padding: 30px;
    }

    #skills .table .content .list {
        gap: 10px;
    }

    #skills .table .content .list .skill {
        gap: 10px;
    }

    #skills .table .content .list .skill img {
        height: 80px;
        width: 80px;
    }
}
