/* Global */

:root {
    --color-primary: black;
    --color-secondary: white;
    --color-accent: #f66e3d;

    --family-font: 'DM Sans', sans-serif;

    --h1: bold clamp(36px, 4vw, 54px) / clamp(48px, 5vw, 64px)
        var(--family-font);
    --h2: bold 36px/36px var(--family-font);
    --h3: bold 24px/30px var(--family-font);
    --links: bold 54px/64px var(--family-font);
    --p: 18px/30px var(--family-font);
    --subtext: 15px/25px var(--family-font);

    --transition: 0.3s ease-in-out;
    --shadow: #00000030 0px 0px 10px 0px;
    --shadow2: #00000030 0px 5px 10px 5px;
    --shadow3: rgba(28, 28, 51, 0.15) 0px 0px 10px;
    --shadow-accent: var(--color-accent) 0px 0px 10px 0px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

h1 {
    font: var(--h1);
}

h2 {
    font: var(--h2);
    margin-bottom: 100px;
}

h3 {
    font: var(--h3);
}

@media screen and (max-width: 800px) {
    h2 {
        margin-bottom: 50px;
    }
}

p {
    font: var(--p);
}

section {
    margin: 250px auto;
    padding: 0 30px;
    max-width: 1080px;
}

a {
    font: var(--family-font);
    color: black;
    text-decoration: none;
}

.link {
    font: var(--links);
}

.subtext {
    font: var(--subtext);
}

.accent {
    color: var(--color-accent);
}

.btn {
    padding: 5px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font: var(--p);
}

.btn-in {
    background-color: var(--color-accent);
    color: white;
}

.btn-out {
    border: solid 2px var(--color-accent);
    color: var(--color-accent);
}

.btn:hover {
    scale: 1.05;
}

.btn-in:hover {
    background-color: var(--color-primary);
}

.btn-out:hover {
    border-color: var(--color-primary);
    color: var(--color-primary);
}

.transition {
    transition: var(--transition);
}

.fade-in {
    animation: fadeIn ease-out 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Header */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
}

.navbar {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: clamp(0px, 80%, 1920px);
}

.navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar ul li > * {
    padding: 10px 20px;
}

.burger-button {
    display: none;
}

@media screen and (max-width: 1100px) {
    .navbar ul {
        display: none;
    }

    .burger-button {
        display: block;
    }
}

/* Hero section */

.hero {
    height: calc(100vh - 80px);
    max-width: 100%;
    margin: 0px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.hero > img {
    height: clamp(300px, 30vw, 400px);
}

.hero .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero .content > div {
    display: flex;
    justify-content: space-around;
}

.hero .content > div img {
    height: 50px;
}

@media screen and (max-width: 800px) {
    .hero {
        flex-direction: column;
    }

    .hero .content {
        flex-direction: row;
    }

    .hero .content > div {
        flex-direction: column;
    }

    .hero .content .btn-out {
        display: none;
    }
}

/* Skills section */

.skills .table {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.skills .table .menu {
    padding: 25px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.skills .table .menu .category {
    padding: 25px 100px;
    margin-right: -40px;
    text-wrap: nowrap;
    font: var(--p);
    font-weight: bold;
    text-align: center;
    border: solid 2px black;
    border-radius: 25px;
    box-shadow: var(--shadow);
    background-color: white;
    transition: var(--transition);
    z-index: 99;
}

.skills .table .menu .active {
    border: solid 2px var(--color-accent);
    translate: 25px;
    color: var(--color-accent);
}

.skills .table .menu .category:hover {
    border: solid 2px var(--color-accent);
    translate: 25px;
    color: var(--color-accent);
}

.skills .table .content {
    padding: 50px 80px 50px calc(40px + 25px + 80px);
    width: 100%;
    border-radius: 25px;
    box-shadow: var(--shadow);
    background-color: white;
    border: solid 2px black;
    overflow: hidden;
}

.skills .table .content .list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    justify-content: space-around;
    gap: 50px;
}

.skills .table .content .list .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.skills .table .content .list .skill img {
    height: 100px;
    width: 100px;
    transition: var(--transition);
}

.skills .table .content .list .skill img:hover {
    scale: 1.1;
}

.skills .table .content .list .skill span {
    text-align: center;
    font: var(--p);
    line-height: 20px;
}

@media screen and (max-width: 800px) {
    .skills .table {
        flex-direction: column;
    }

    .skills .table .menu {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .skills .table .menu .active {
        border: solid 2px var(--color-accent);
        translate: 0px;
        color: var(--color-accent);
    }

    .skills .table .menu .category {
        padding: 15px 25px;
        margin-right: 0px;
    }

    .skills .table .menu .category:hover {
        border: solid 2px var(--color-accent);
        translate: 0px;
        color: var(--color-accent);
    }

    .skills .table .content {
        width: calc(100% - 60px);
        padding: 30px;
    }

    .skills .table .content .list {
        gap: 10px;
    }

    .skills .table .content .list .skill {
        gap: 10px;
    }

    .skills .table .content .list .skill img {
        height: 80px;
        width: 80px;
    }
}

/* Projects section */

.projects .list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-content: center;
    gap: 30px;
}

.projects .list .project {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: var(--shadow);
    background-color: white;
    transition: var(--transition);
    border: solid 2px black;
    overflow: hidden;
}

.projects .list .project:hover {
    box-shadow: var(--shadow2);
    border: solid 2px var(--color-accent);
    translate: 0px -10px;
}

.projects .list .project h3 {
    transition: var(--transition);
}

.projects .list .project:hover h3 {
    color: var(--color-accent);
}

.projects .list .project > img {
    height: 150px;
    width: 100%;
    border-radius: 0 0 25px 25px;
}

.projects .list .project .content {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 100%;
}

.projects .list .project .content .description {
    text-align: left;
}

.projects .list .project .content .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-top: auto;
}

.projects .list .project .content .footer p {
    font: var(--subtext);
    text-align: center;
}

.projects .list .project .content .footer a {
    display: flex;
    align-items: center;
}

.projects .list .project .content .footer img {
    height: 25px;
}

/* Footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
}
